@using System.Web

@{
    var request = HttpContext.Current.Request;
    var response = HttpContext.Current.Response;
}
@{ 
        try
        {
            request.Cookies["USERNAME"].Value = request.Cookies["USERNAME"].Value;
        }catch(Exception e)
        {
            request.Cookies.Add(new HttpCookie("USERNAME"));
            request.Cookies["USERNAME"].Value = "";
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Recipeas</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
    <div id="full-height-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="img-fluid" src="~/img/logo.png" height="50" width="262" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Recipe List", "Index", "Home", null, new { @class = "nav-link" })
                        </li>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("See Recipe", "SeeRecipe", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Create Recipe", "CreateRecipe", "Home", null, new { @class = "nav-link" })
                        </li>

                        @if (request.Cookies["USERNAME"].Value != "")
                        {
                            <p>Hello @request.Cookies["USERNAME"].Value </p>
                        }
                        else
                        {
                            @Html.ActionLink("Login", null, "Login", null, new { @class = "nav-link" })
                            <li class="nav-item">
                                @Html.ActionLink("Create Account", "CreateAccount", "Home", null, new { @class = "nav-link" })
                            </li>
                        }
                        <!--
    <li class="nav-item dropdown">
        @Html.ActionLink("Dropdown", "Contact", "Home", null, new { @class = "nav-link" })
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    -->
                    </ul>
                    <!--
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    -->
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>
        <div class="container">
            <footer>
                <p><i class="fas fa-copyright"></i> @DateTime.Now.Year - DNP Recipeas Project</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="/Scripts/custom.js"></script>
</body>
</html>
