@using RecipesGitHub.Models
@model FullRecipe
@{
    ViewBag.Title = "See Recipe";
}



<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Ingredients
            </div>
            <ul class="list-group list-group-flush">
                @{ foreach (var item in Model.Ingredients)
                    {
                        <li class="list-group-item"> @item.ingredient @item.amount @item.unit </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> @Model.GetName() </h5>
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img class="rounded img-fluid" src="@Model.ImagePath" alt="Placeholder" />
    </div>
</div>
<br />
<div class="card ">
    <div class="card-header">
        <span class="float-left">Description</span>
        <span class="float-right small text-muted">2 days ago</span>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12 comment-main rounded">
            <ul class="p-0">
                <li>
                    <div class="row comment-box p-1 pt-3 pr-4">
                        <div class="col-lg-1 col-3 user-img text-center">
                            <img src="~/img/man_avatar.png" class="main-cmt-img">
                        </div>
                        <div class="col-lg-11 col-9 user-comment bg-light rounded">
                            <div class="row border-bottom">
                                <input type="text" class="w-100 pl-3 pr-3 pt-2 pb-2 m-0">Name<span class="float-right"><i class="fas fa-clock mr-2" aria-hidden="true"></i>01 : 00</span></input>
                            </div>
                            <p class="pt-1 pb-2 m-0">Comment</p>
                        </div>
                    </div>
                </li>
                <hr>
                <div class="row">
                    <div class="col-lg-11 col-10">
                        <input type="text" class="form-control w-100" placeholder="Your comment">
                    </div>
                    <div class="col-lg-1 col-2 send-icon">
                        <a href="http://nicesnippets.com/" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                    </div>
                </div>
            </ul>
        </div>
    </div>


